<!doctype html>
<html lang="en">
  <%- include('layouts/header') -%>
  <body>
    <!-- navbar -->
    <%- include('layouts/navBar') -%>
    <!-- navbar -->

    <div class="listings-bg">
        <div class="container">
          <div class="card p-3" style="opacity: 0.8;">

            <h1 class="display-3">The Member Experience</h1>
            <h1>Your Future, Welcome Home</h1>
            <div class="row mt-5 mb-3">
              <% for(let i = 0; i < listings.length; i++){ %>
                <div class="col-md p-3 m-2 text-center" style="opacity:0.9;">
                  <a href="/listing/<%= listings[i]._id %>">
                    <img src="<%= listings[i].image %>" class="img-fluid max shadow-2-strong rounded" alt="<%= listings[i].title %>">
                  </a>
                  <p>
                      Created By <%= listings[i].email %>, On
                      <%= listings[i].datePosted.toDateString() %>
                  </p>
                </div>
            <% } %>
            </div>

          </div>
        </div>
    </div>

    <%- include('layouts/footer') -%>
    <%- include('layouts/scripts') -%>
    
  </body>
</html>